{% extends "administracion.html" %}

{% block title %} Aplicaciones {% endblock %}

{% block content %} 
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
    <h2>BOT UNIFORMES</h2>
    <form action="/bot_uniformes/">
        {% csrf_token %}
        <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead class="table-dark">
            <tr>
                <th scope="col">Ultima vez ejecutado</th>
                <th scope="col">Registros nuevos</th>
                <th scope="col">Registros cancelados</th>
                <th scope="col">Errores</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Ago/17/2021</td>
                <td>107</td>
                <td>1</td>
                <td>0</td>
                <td>
                    <button type="submit" class="btn btn-primary mb-3">Ejecutar</button>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </form>

    <h2>BOT ENVIAR CORREOS</h2>
    <form action="/bot_correos/" >
        {% csrf_token %}
        <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead class="table-dark">
            <tr>
                <th scope="col">Ultima vez ejecutado</th>
                <th scope="col">Correos enviados</th>
                <th scope="col">Errores</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Ago/17/2021</td>
                <td>107</td>
                <td>1</td>
                <td>
                    <button type="submit" onClick=" this.form.submit(); this.disabled=true;" class="btn btn-primary mb-3">Ejecutar</button>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </form>

    <h2>ENVIAR CORREO A ALMACÉN</h2>
    <form action="/correo_almacen/">
        {% csrf_token %}
        <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead class="table-dark">
            <tr>
                <th scope="col">Ultima vez ejecutado</th>
                <th scope="col">Errores</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Ago/17/2021</td>
                <td>1</td>
                <td>
                    <button type="submit"  class="btn btn-primary mb-3">Ejecutar</button>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </form>

    <h2>BORRAR ERRORES</h2>
    <form action="/borrar_errores/">
        {% csrf_token %}
        <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead class="table-dark">
            <tr>
                <th scope="col">Ultima vez ejecutado</th>
                <th scope="col">Errores Borrados</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Ago/17/2021</td>
                <td>1</td>
                <td>
                    <button type="submit"  class="btn btn-primary mb-3">Ejecutar</button>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </form>

  </main>
{% endblock %}