<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    </head>
    <body class="d-flex h-100 text-center text-white bg-dark">
    
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
          <header class="mb-auto">
            <div>
              <h3 class="float-md-start mb-0">CONFIRMAR PEDIDO Y HACER ENVIO</h3>
              <nav class="nav nav-masthead justify-content-center float-md-end">
              </nav>
            </div>
          </header>
        
          <main class="px-3">
              <p>Hola buenos dias,<br> 
                ¡Ya tiene nuevos uniformes por surtir!<br>
                Solicito tu ayuda para confirmar e ingresar el numero de envio a las personas que se les va a surtir el uniforme. <br> 
                Para confirmar pulse el link que se encuentra encuentra en el correo.<br>
                <br>
            </p>
            <br>
            <p>CONFIRMA AQUI <a href="http://{{link}}" class="text-white">http://{{link}}</a></p>
          </main>
        
          <footer class="mt-auto text-white-50">
            <p>De antemano muchas gracias.</p>
          </footer>
        </div>
        
        
            
          
        
        </body>
   
</html>